@import "file:////Users/cookie/Projects/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-beta.130_vuepress@2.0.0-beta.53/node_modules/vuepress-theme-hope/templates/palette.scss";
@import "file:////Users/cookie/Projects/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-beta.130_vuepress@2.0.0-beta.53/node_modules/vuepress-theme-hope/templates/config.scss";
@import "file:////Users/cookie/Projects/my-docs/src/.vuepress/styles/palette.scss";
@import "file:////Users/cookie/Projects/my-docs/src/.vuepress/styles/config.scss";
@import "file:////Users/cookie/Projects/my-docs/node_modules/.pnpm/vuepress-theme-hope@2.0.0-beta.130_vuepress@2.0.0-beta.53/node_modules/vuepress-theme-hope/templates/generator.scss";
